.drink {
    margin: 10px;
    padding: 10px;
    border: 2px solid #659165;
    background-color: #3d583d; 
  }

@media (orientation: portrait){
  .image-container img {
    width: 100%;
    height: auto;
  }
}

@media (orientation: landscape){
  .image-container img {
    width: 50%;
    height: auto;
  }
}

body {
  background-color: #202720;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
  padding: 5px;
  margin: 5px;
}
header {
  background-color: #2d412d;

  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
h1 {
  color: white;
  padding-left: 20px;
}