.drink {
    margin: 10px;
    padding: 10px;
    border: 2px solid #659165;
    background-color: #3d583d; 
  }

@media (orientation: landscape){
  .image-container img {
    width: 100%;
    height: auto;
  }
}

@media (orientation: portrait){
  .image-container img {
    width: 50%;
    height: auto;
  }
}
